name: Hugo Build and Deploy

on:
  push:
    branches: [ master, actions-dev ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.AUTHENTICATED_PAT }}
        submodules: true

    - name: Download Hugo
      run: wget https://github.com/gohugoio/hugo/releases/download/v0.71.0/hugo_0.71.0_Linux-64bit.tar.gz

    - name: Extract Hugo
      run: tar -xvf hugo_0.71.0_Linux-64bit.tar.gz

    - name: Run Hugo build
      run: ./hugo

    - name: Configure Git name
      run: git config --global user.name "Cameron Roe"

    - name: Configure Git email
      run: git config --global user.email "cameron@cameronbroe.com"

    - name: Push Hugo build in public submodule
      run: |
        cd public/
        git add .
        git commit -am "build for ${{ github.sha }}"
        git push -u origin gh-pages
